<nav class="navbar navbar-expand-lg navbar-dark bg-company-red">
  <% if session[:access] == "Supervisor" %>
  <%= link_to "Cerner ATB Master", pages_home_path, class: "navbar-brand" %>
  <% else %>
  <%= link_to "Cerner ATB Master", pages_workstation_home_path, class: "navbar-brand" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    <% if logged_in? %>
    <li><%= link_to 'Log out', logout_path, method: :delete %></li>
    <% else %>
    <li><%= link_to 'Log In', root_path %></li>
    <% end %>
    </ul>
  </div>
</nav>