<div class="container">
  <h1 class="center">Welcome to Cerner ATB Master</h1>
  <div class="row">
    <div class="col" style="background-color:lavender;">
        <%= link_to "Add ATB", new_atb_path %>
    </div>
    <div class="col" style="background-color:orange;">
        <%= link_to "View ATB", atbs_path %>
    </div>
    <div class="col" style="background-color:lavender;">.col</div>
  </div>
</div>