@import "bootstrap";

.bg-company-red
{
    background-color: green !important;
}
.center
{
    text-align: center;
}
.new-jumbotron
{
    margin-top: 50px;
}
.file-new
{
    height: 50px;
    font-weight: bold;
}
.set-margin-new
{
    margin-top: 50px;
}
.atb-header
{
    background-color: darkcyan;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.set-margin-atb
{
    margin-top: 20px;
}
.atb-body
{
    border-style: groove;
    height: 50px;
    align-content: center;
    background-color: #B2EBF2;
}