@import "bootstrap";

.bg-company-red
{
    background-color: black;
}
.center
{
    text-align: center;
}
.new-jumbotron
{
    margin-top: 50px;
}
.file-new
{
    height: 50px;
    font-weight: bold;
}
.set-margin-new
{
    margin-top: 50px;
}
.atb-header
{
    background-color: darkcyan;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.set-margin-atb
{
    margin-top: 20px;
   
}
.atb-body
{
    border-style: groove;
    align-items: center;
    background-color: #B2EBF2;
}
.set-margin-login
{
    margin-top: 150px
}
.file-upload-card
{
   align-items: center;
}
.card
{
    border: none;
}
.drop-down
{
    height: 100px;
}
th
{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

table
{
    text-align: center
}

.header_row
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    background-color: #78909C;
    color: white;
}

.dtHorizontalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
    }
    #dtHorizontalExample th, td {
    white-space: nowrap;
    }
    
   .wellcome-text
   {
       color: #0277BD;
   }

   .workstation-table
   {
       margin-left: 10px;
       margin-right: 10px;
       white-space: nowrap;
   }